<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Agent">
	<test name="ClassLoading Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.ClassLoadingInformationTest" />
		</classes>
	</test>
	<test name="Compilation Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.CompilationInformationTest" />
		</classes>
	</test>
	<test name="CPU Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.CpuInformationTest" />
		</classes>
	</test>
	<test name="Memory Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.MemoryInformationTest" />
		</classes>
	</test>
	<test name="Runtime Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.RuntimeInformationTest" />
		</classes>
	</test>
	<test name="System Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.SystemInformationTest" />
		</classes>
	</test>
	<test name="Thread Sensor Test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.ThreadInformationTest" />
		</classes>
	</test>
	<test name="Byte Code Analyzer">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.ByteCodeAnalyzerTest" />
		</classes>
	</test>
	<test name="Class Pool Analyzer">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.ClassPoolAnalyzerTest" />
		</classes>
	</test>
	<test name="Direct Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.DirectMatcherTest" />
		</classes>
	</test>
	<test name="Indirect Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.IndirectMatcherTest" />
		</classes>
	</test>
	<test name="Inheritance Analyzer">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.InheritanceAnalyzerTest" />
		</classes>
	</test>
	<test name="Interface Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.InterfaceMatcherTest" />
		</classes>
	</test>
	<test name="Simple Match Pattern">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.SimpleMatchPatternTest" />
		</classes>
	</test>
	<test name="Superclass Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.SuperclassMatcherTest" />
		</classes>
	</test>
	<test name="Annotation Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.AnnotationMatcherTest" />
		</classes>
	</test>
	<test name="Modifiers Matcher">
		<classes>
			<class name="info.novatec.inspectit.agent.analyzer.test.ModifierMatcherTest" />
		</classes>
	</test>
	<test name="Simple Buffer Strategy">
		<classes>
			<class name="info.novatec.inspectit.agent.buffer.test.SimpleBufferStrategyTest" />
		</classes>
	</test>
	<test name="Size Buffer Strategy">
		<classes>
			<class name="info.novatec.inspectit.agent.buffer.test.SizeBufferStrategyTest" />
		</classes>
	</test>
	<test name="Configuration Storage">
		<classes>
			<class name="info.novatec.inspectit.agent.config.test.ConfigurationStorageTest" />
		</classes>
	</test>
	<test name="File Configuration Reader">
		<classes>
			<class name="info.novatec.inspectit.agent.config.test.FileConfigurationReaderTest" />
		</classes>
	</test>
	<test name="Configuration Files Test">
		<classes>
			<class name="info.novatec.inspectit.agent.config.impl.ConfigurationFilesTest" />
		</classes>
	</test>
	<test name="Property Accessor">
		<classes>
			<class name="info.novatec.inspectit.agent.config.test.PropertyAccessorTest" />
		</classes>
	</test>
	<test name="Core Service">
		<classes>
			<class name="info.novatec.inspectit.agent.core.test.CoreServiceTest" />
		</classes>
	</test>
	<test name="ID Manager">
		<classes>
			<class name="info.novatec.inspectit.agent.core.test.IdManagerTest" />
		</classes>
	</test>
	<test name="Hook Dispatcher">
		<classes>
			<class name="info.novatec.inspectit.agent.hooking.test.HookDispatcherTest" />
		</classes>
	</test>
	<test name="Hook Instrumenter">
		<classes>
			<class name="info.novatec.inspectit.agent.hooking.test.HookInstrumenterTest" />
		</classes>
	</test>
	<test name="List Size Strategy">
		<classes>
			<class name="info.novatec.inspectit.agent.sending.test.ListSizeStrategyTest" />
		</classes>
	</test>
	<test name="Time Strategy">
		<classes>
			<class name="info.novatec.inspectit.agent.sending.test.TimeStrategyTest" />
		</classes>
	</test>
	<test name="Exception Tracing Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.exception.test.ExceptionSensorHookTest" />
		</classes>
	</test>
	<test name="Average Timer Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.averagetimer.test.AverageTimerHookTest" />
		</classes>
	</test>
	<test name="SQL Hook Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.jdbc.StatementHookTest" />
		</classes>
	</test>
	<test name="SQL Statement Storage">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.jdbc.StatementStorageTest" />
		</classes>
	</test>
	<test name="SQL Prepared Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.jdbc.PreparedStatementHookTest" />
		</classes>
	</test>
	<test name="SQL Prepared Parameter Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.jdbc.PreparedStatementParameterHookTest" />
		</classes>
	</test>
	<test name="SQL Sensor Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.jdbc.StatementSensorTest" />
		</classes>
	</test>
	<test name="Timer Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.timer.test.TimerHookTest" />
		</classes>
	</test>
	<test name="Invocation Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.invocationsequence.InvocationSequenceHookTest" />
		</classes>	
	</test>
	<test name="HTTP Timer Hook">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.http.HttpHookTest" />
		</classes>
	</test>
	<test name="HTTP Extractor">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.method.http.HttpRequestParameterExtractorTest" />
		</classes>
	</test>
	<test name="Thread Local Stack">
		<classes>
			<class name="info.novatec.inspectit.agent.util.test.ThreadLocalStackTest" />
		</classes>
	</test>
	<test name="Weak List">
		<classes>
			<class name="info.novatec.inspectit.agent.util.test.WeakListTest" />
		</classes>
	</test>
	<test name="String Constraint">
		<classes>
			<class name="info.novatec.inspectit.agent.util.test.StringConstraintTest" />
		</classes>
	</test>
	<test name="CPU Usage calculator test">
		<classes>
			<class name="info.novatec.inspectit.agent.sensor.platform.test.CpuUsageCalculatorTest" />
		</classes>
	</test>
</suite>