## Exclude classes definition
#############################
## Only change the already specified patterns if you are a expert level user
## Add additional classes if needed
############################################################################

exclude-class $Proxy*
exclude-class sun.*
exclude-class java.lang.ThreadLocal
exclude-class java.lang.ref.Reference
exclude-class *_WLStub
exclude-class *[]
exclude-class com.sun.proxy.$Proxy*