<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd" >

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="inspectITRegistrationService" />
		<property name="service" ref="registrationService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IRegistrationService" />
		<property name="registryPort" value="9070" />
		<property name="servicePort" value="9071" />
	</bean>

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="inspectITAgentStorageService" />
		<property name="service" ref="agentStorageService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IAgentStorageService" />
		<property name="registryPort" value="9070" />
		<property name="servicePort" value="9071" />
	</bean>

</beans>
