<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="autodetect">

	<bean id="methodIdentDao" class="info.novatec.inspectit.cmr.dao.impl.MethodIdentDaoImpl" />
	<bean id="methodSensorTypeIdentDao"
		class="info.novatec.inspectit.cmr.dao.impl.MethodSensorTypeIdentDaoImpl" />
	<bean id="platformIdentDao"
		class="info.novatec.inspectit.cmr.dao.impl.PlatformIdentDaoImpl" />
	<bean id="platformSensorTypeIdentDao"
		class="info.novatec.inspectit.cmr.dao.impl.PlatformSensorTypeIdentDaoImpl" />

	<bean id="defaultDataDao" class="info.novatec.inspectit.cmr.dao.impl.DefaultDataDaoImpl" />

	<bean id="invocationDataDao"
		class="info.novatec.inspectit.cmr.dao.impl.BufferInvocationDataDaoImpl" />
		
	<bean id="sqlDataDao" class="info.novatec.inspectit.cmr.dao.impl.SqlDataDaoImpl" />
	<bean id="exceptionSensorDataDao"
		class="info.novatec.inspectit.cmr.dao.impl.ExceptionSensorDataDaoImpl" />

	<bean id="combinedMetricsDataDao"
		class="info.novatec.inspectit.cmr.dao.impl.CombinedMetricsDataDaoImpl" />

	<bean id="environmentDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.EnvironmentDataDaoImpl" />
	<bean id="profileDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.ProfileDataDaoImpl" />
	<bean id="sensorTypeDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.SensorTypeDataDaoImpl" />
	<bean id="exceptionSensorDefinitionDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.ExceptionSensorDefinitionDataDaoImpl" />
	<bean id="methodSensorDefinitionDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.MethodSensorDefinitionDataDaoImpl" />
	<bean id="platformSensorDefinitionDataDao"
		class="info.novatec.inspectit.cmr.dao.ci.impl.PlatformSensorDefinitionDataDaoImpl" />

	<bean id="bufferProperties" class="info.novatec.inspectit.cmr.cache.impl.BufferProperties">
		<property name="evictionOccupancyPercentage" value="${buffer.evictionOccupancyPercentage}"/>
		<property name="maxHeapSizeOccupancy" value="${buffer.maxHeapSizeOccupancy}"/>
		<property name="minHeapSizeOccupancy" value="${buffer.minHeapSizeOccupancy}"/>
		<property name="maxHeapSizeOccupancyActiveFromHeapSize" value="${buffer.maxHeapSizeOccupancyActiveFromHeapSize}"/>
		<property name="minHeapSizeOccupancyActiveTillHeapSize" value="${buffer.minHeapSizeOccupancyActiveTillHeapSize}"/>
		<property name="minMemoryDelta" value="${buffer.minMemoryDelta}"/>
		<property name="maxObjectExpansionRate" value="${buffer.maxObjectExpansionRate}"/>
		<property name="minObjectExpansionRate" value="${buffer.minObjectExpansionRate}"/>
		<property name="maxObjectExpansionRateActiveTillBufferSize" value="${buffer.maxObjectExpansionRateActiveTillBufferSize}"/>
		<property name="minObjectExpansionRateActiveFromBufferSize" value="${buffer.minObjectExpansionRateActiveFromBufferSize}"/>
		<property name="elementsCountForMaintenance" value="${buffer.elementsCountForMaintenance}"/>
		<property name="evictionFragmentSizePercentage" value="${buffer.evictionFragmentSizePercentage}"/>	
	</bean>
	<bean id="bufferBean" class="info.novatec.inspectit.cmr.cache.impl.AtomicBuffer" />
	<bean id="bufferEvictor" class="info.novatec.inspectit.cmr.cache.impl.BufferEvictor" init-method="start"/>
	<bean id="bufferAnalyzer" class="info.novatec.inspectit.cmr.cache.impl.BufferAnalyzer" init-method="start"/>
	<bean id="bufferIndex" class="info.novatec.inspectit.cmr.cache.impl.BufferIndexer" init-method="start"/>

	<bean id="objectSizesFactory"
		class="info.novatec.inspectit.cmr.cache.impl.ObjectSizesFactory" />
	<bean id="rootBranchFactory"
		class="info.novatec.inspectit.cmr.cache.indexing.impl.RootBranchFactory"/>

</beans>
