<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="autodetect">

	<bean id="defaultDataDao" class="info.novatec.inspectit.cmr.dao.impl.DefaultDataDaoImpl" >
		<property name="saveTimerDataToDatabase" value="${cmr.saveTimerDataToDatabase}" />
	</bean>

	<bean id="httpTimerDataDao" 
		class="info.novatec.inspectit.cmr.dao.impl.BufferHttpTimerDataDaoImpl" />
	<bean id="bufferProperties" class="info.novatec.inspectit.cmr.cache.impl.BufferProperties">
		<property name="evictionOccupancyPercentage" value="${buffer.evictionOccupancyPercentage}"/>
		<property name="maxObjectExpansionRate" value="${buffer.maxObjectExpansionRate}"/>
		<property name="minObjectExpansionRate" value="${buffer.minObjectExpansionRate}"/>
		<property name="maxObjectExpansionRateActiveTillBufferSize" value="${buffer.maxObjectExpansionRateActiveTillBufferSize}"/>
		<property name="minObjectExpansionRateActiveFromBufferSize" value="${buffer.minObjectExpansionRateActiveFromBufferSize}"/>
		<property name="bytesMaintenancePercentage" value="${buffer.bytesMaintenancePercentage}"/>
		<property name="evictionFragmentSizePercentage" value="${buffer.evictionFragmentSizePercentage}"/>	
		<property name="indexingTreeCleaningThreads" value="${buffer.indexingTreeCleaningThreads}"/>	
		<property name="indexingWaitTime" value="${buffer.indexingWaitTime}" />
		<property name="minOldSpaceOccupancyActiveTillOldGenSize" value="${buffer.minOldSpaceOccupancyActiveTillOldGenSize}" />
		<property name="maxOldSpaceOccupancyActiveFromOldGenSize" value="${buffer.maxOldSpaceOccupancyActiveFromOldGenSize}" />
		<property name="minOldSpaceOccupancy" value="${buffer.minOldSpaceOccupancy}" />
		<property name="maxOldSpaceOccupancy" value="${buffer.maxOldSpaceOccupancy}" />
	</bean>
	<bean id="bufferBean" class="info.novatec.inspectit.cmr.cache.impl.AtomicBuffer" />
	<bean id="bufferEvictor" class="info.novatec.inspectit.cmr.cache.impl.BufferEvictor" init-method="start"/>
	<bean id="bufferAnalyzer" class="info.novatec.inspectit.cmr.cache.impl.BufferAnalyzer" init-method="start"/>
	<bean id="bufferIndex" class="info.novatec.inspectit.cmr.cache.impl.BufferIndexer" init-method="start"/>

	<bean id="objectSizesFactory"
		class="info.novatec.inspectit.cmr.cache.impl.ObjectSizesFactory" />
	<bean id="rootBranchFactory"
		class="info.novatec.inspectit.cmr.cache.indexing.impl.RootBranchFactory" />
		
	<bean id="indexQueryProvider" class="info.novatec.inspectit.cmr.util.IndexQueryProvider">
		<lookup-method name="createNewIndexQuery" bean="indexQuery"/>
	</bean>
	<bean id="indexQuery"
		class="info.novatec.inspectit.cmr.cache.indexing.impl.IndexQuery"
		scope="prototype" lazy-init="true" />
	<bean id="restrictionProcessor"
		class="info.novatec.inspectit.cmr.cache.indexing.restriction.impl.CachingIndexQueryRestrictionProcessor" />
	
</beans>
