<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="autodetect">

	<bean id="licenseUtil" class="info.novatec.inspectit.cmr.util.LicenseUtil" />

	<bean id="healthStatus" class="info.novatec.inspectit.cmr.util.HealthStatus" />

	<bean id="configuration" class="info.novatec.inspectit.cmr.util.Configuration">
		<property name="enhancedInvocationStorageMode" value="true" />
	</bean>

	<bean id="versioning"
		class="info.novatec.inspectit.versioning.FileBasedVersioningServiceImpl" />

</beans>
