<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="healthJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="healthStatus" />
		<property name="targetMethod" value="logStatistics" />
	</bean>

	<bean id="healthTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="healthJobDetail" />
		<!-- 10 seconds -->
		<property name="startDelay" value="5000" />
		<!-- repeat every 50 seconds -->
		<property name="repeatInterval" value="60000" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="healthTrigger" />
			</list>
		</property>
	</bean>

</beans>