<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="indexQueryProvider"
		class="info.novatec.inspectit.indexing.query.provider.impl.IndexQueryProvider">
		<lookup-method name="createNewIndexQuery" bean="indexQuery" />
	</bean>

	<bean id="storageWriterProvider"
		class="info.novatec.inspectit.cmr.storage.CmrStorageWriterProvider">
		<lookup-method name="getCmrStorageWriter" bean="cmrStorageWriter" />
	</bean>

	<bean id="storageIndexingTreeProvider"
		class="info.novatec.inspectit.storage.util.StorageIndexTreeProvider">
		<lookup-method name="getStorageIndexingTree" bean="storageRootBranchFactory" />
	</bean>

	<bean id="versioning"
		class="info.novatec.inspectit.versioning.FileBasedVersioningServiceImpl" />

	<bean id="IOExecutorService"
		class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="executorThreads" value="${storage.ioExecutorThreads}" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="storageExecutorService"
		class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="executorThreads" value="${storage.storageExecutorThreads}" />
		<property name="scheduledExecutor" value="true" />
	</bean>

	<bean id="scheduledExecutorService"
		class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="executorThreads" value="1" />
		<property name="scheduledExecutor" value="true" />
		<property name="beanSingleton" value="true" />
	</bean>

	<util:list id="byteBufferSizes" list-class="java.util.ArrayList" value-type="java.lang.Integer">
		<value>1048576</value>
		<value>1048576</value>
		<value>2097152</value>
		<value>2097152</value>
		<value>2097152</value>
		<value>4194304</value>
		<value>4194304</value>
		<value>4194304</value>
		<value>6291456</value>
	</util:list>

</beans>