<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="autodetect">

	<bean id="globalDataAccessService"
		class="info.novatec.inspectit.cmr.service.GlobalDataAccessService" />

	<bean id="sqlDataAccessService" class="info.novatec.inspectit.cmr.service.SqlDataAccessService" />

	<bean id="invocationDataAccessService"
		class="info.novatec.inspectit.cmr.service.InvocationDataAccessService" />

	<bean id="exceptionDataAccessService"
		class="info.novatec.inspectit.cmr.service.ExceptionDataAccessService" />

	<bean id="serverStatusService" class="info.novatec.inspectit.cmr.service.ServerStatusService" />

	<bean id="licenseService" class="info.novatec.inspectit.cmr.service.LicenseService" />

	<bean id="combinedMetricsDataAccessService"
		class="info.novatec.inspectit.cmr.service.CombinedMetricsDataAccessService" />

	<bean id="configurationInterfaceDataAccessService"
		class="info.novatec.inspectit.cmr.service.ConfigurationInterfaceDataAccessService" />

	<bean id="bufferService"
		class="info.novatec.inspectit.cmr.service.BufferService" />
		
	<bean id="timerDataAccessService"
		class="info.novatec.inspectit.cmr.service.TimerDataAccessService" />
		
	<bean id="httpTimerDataAccessService"
		class="info.novatec.inspectit.cmr.service.HttpTimerDataAccessService" />

	<bean name="globalDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="globalDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IGlobalDataAccessService" />
	</bean>

	<bean name="sqlDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="sqlDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.ISqlDataAccessService" />
	</bean>

	<bean name="invocationDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="invocationDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IInvocationDataAccessService" />
	</bean>

	<bean name="exceptionDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="exceptionDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IExceptionDataAccessService" />
	</bean>

	<bean name="serverStatusExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="serverStatusService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IServerStatusService" />
	</bean>

	<bean name="licenseExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="licenseService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.ILicenseService" />
	</bean>

	<bean name="combinedMetricsDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="combinedMetricsDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.ICombinedMetricsDataAccessService" />
	</bean>

	<bean name="configurationInterfaceDataAccessExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="configurationInterfaceDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IConfigurationInterfaceDataAccessService" />
	</bean>

	<bean name="bufferServiceExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="bufferService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IBufferService" />
	</bean>
	
	<bean name="timerDataAccessServiceExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="timerDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.ITimerDataAccessService" />
	</bean>
	
	<bean name="httpTimerDataAccessServiceExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="httpTimerDataAccessService" />
		<property name="serviceInterface"
			value="info.novatec.inspectit.cmr.service.IHttpTimerDataAccessService" />
	</bean>
	
</beans>
