/bin
/test-output
temp-testng-customsuite.xml
/lib/inspectit-commons.jar
/lib/prod
/lib/test
/release/build
/release/dist
/release/pdebuild
/release/runtime
/release/resources/ivy/install
/release/thirdparty.txt
