<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/32x32_24bit.bmp"
            thread="main"
            visible="true">
         <run
               class="info.novatec.inspectit.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="info.novatec.inspectit.rcp.application"
            name="inspectIT">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="appName"
               value="inspectIT">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,10,560,20">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.png,icons/32x32.png,icons/48x48.png,icons/64x64.png,icons/128x128.png">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="info.novatec.inspectit.rcp.preferences.InspectITPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="info.novatec.inspectit.communication.data.InvocationSequenceData"
            class="info.novatec.inspectit.rcp.editor.tree.input.DeferredInvocAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="info.novatec.inspectit.rcp.Perspective"
            fixed="true"
            id="inspectit.perspective"
            name="inspectIT Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Server View"
            icon="icons/sample.gif"
            class="info.novatec.inspectit.rcp.view.server.ServerView"
            id="inspectit.serverview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.novatec.inspectit.rcp.editor.root.FormRootEditor"
            default="false"
            id="inspectit.editor.formrooteditor"
            name="Form Root Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="info.novatec.inspectit.rcp.actionSet"
            label="Repository Action Set"
            visible="true">
         <action
               class="info.novatec.inspectit.rcp.action.ClearRepositoryBufferAction"
               icon="icons/clean_buffer.png"
               id="info.novatec.inspectit.rcp.action.ClearRepositoryBuffer"
               label="&amp;Clear Repository Buffer"
               style="push"
               toolbarPath="repository"
               tooltip="Clear Data From Repository Buffer">
         </action>
         <action
               class="info.novatec.inspectit.rcp.action.UpdateRepositoryAction"
               icon="icons/server_refresh.png"
               id="info.novatec.inspectit.rcp.action.UpdateRepositoryAction"
               label="&amp;Refresh Repository"
               toolbarPath="repository"
               tooltip="Refresh Repository">
         </action>
         <action
               class="info.novatec.inspectit.rcp.action.RemoveRepositoryAction"
               icon="icons/server_remove.png"
               id="info.novatec.inspectit.rcp.action.RemoveRepositoryAction"
               label="&amp;Delete Repository Definition"
               style="push"
               toolbarPath="repository"
               tooltip="Delete Repository Definition">
         </action>
         <action
               class="info.novatec.inspectit.rcp.action.CreateRepositoryAction"
               icon="icons/server_add.png"
               id="info.novatec.inspectit.rcp.action.CreateRepositoryAction"
               label="&amp;Add Repository Definition"
               toolbarPath="repository"
               tooltip="Add Repository Definition">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="info.novatec.inspectit.rcp.wizard.NewRepositoryDefinitionWizard"
            icon="icons/server_add.png"
            id="inspectit.repositorywizard"
            name="New Repository Definition">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="info.novatec.inspectit.rcp.commands.openView"
            name="Open View">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.expandAll"
            name="Expand All">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.expandThis"
            name="Expand This">
      </command>
      <command
            defaultHandler="info.novatec.inspectit.rcp.handlers.ImportLicenseHandler"
            id="info.novatec.inspectit.rcp.commands.importLicense"
            name="Import License">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.exportInvocations"
            name="Export">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.saveInvocations"
            name="Save">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.details"
            name="Details">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.documentation"
            name="Documentation">
	  </command>
      <command
            id="info.novatec.inspectit.rcp.commands.navigateToInvocations"
            name="Invocation(s)">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.navigateToPlotting"
            name="History Graph">
      </command>
      <command
            defaultHandler="info.novatec.inspectit.rcp.handlers.LicenseInformationHandler"
            id="info.novatec.inspectit.rcp.commands.licenseInfo"
            name="License Information">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.navigateToStartMethodInvocations"
            name="Only This Method Invocations">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.addToSteppingObjects"
            name="Locate in Call Hierarchy">
      </command>
      <command
            id="info.novatec.inspectit.rcp.commands.showHideColumn"
            name="Show/Hide Column">
         <commandParameter
               id="info.novatec.inspectit.rcp.commands.showHideColumn.Column"
               name="Column"
               optional="false">
         </commandParameter>
         <commandParameter
               id="info.novatec.inspectit.rcp.commands.showHideColumn.Visible"
               name="Visible"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="info.novatec.inspectit.rcp.handlers.OpenViewHandler"
            commandId="info.novatec.inspectit.rcp.commands.openView">
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TreeCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TableCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TreeExpandAllHandler"
            commandId="info.novatec.inspectit.rcp.commands.expandAll">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TreeExpandThisHandler"
            commandId="info.novatec.inspectit.rcp.commands.expandThis">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.ExportInvocationsHandler"
            commandId="info.novatec.inspectit.rcp.commands.exportInvocations">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
               </with>
               <!-- TODO: Remove when export of invocations is possible with buffer -->
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.SaveInvocationsHandler"
            commandId="info.novatec.inspectit.rcp.commands.saveInvocations">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
               </with>
               <!-- TODO: Remove when export of invocations is possible with buffer -->
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.DeleteStorageDataHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TreeDetailsHandler"
            commandId="info.novatec.inspectit.rcp.commands.details">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.TableDetailsHandler"
            commandId="info.novatec.inspectit.rcp.commands.details">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
                  <test
                        property="info.novatec.inspectit.tableShowDetails">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.OpenDocumentationHandler"
            commandId="info.novatec.inspectit.rcp.commands.documentation">
	  </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.NavigateToInvocationsHandler"
            commandId="info.novatec.inspectit.rcp.commands.navigateToInvocations">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
                  <test
                        property="info.novatec.inspectit.subViewClassification"
                        value="master">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        property="info.novatec.inspectit.canNavigateToInvocations">
                  </test>
               </with>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.data.InvocationAwareData">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.NavigateToPlotting"
            commandId="info.novatec.inspectit.rcp.commands.navigateToPlotting">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <and>
                        <instanceof
                              value="info.novatec.inspectit.communication.data.TimerData">
                        </instanceof>
                        <not>
                           <instanceof
                                 value="info.novatec.inspectit.communication.data.SqlStatementData">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="info.novatec.inspectit.communication.data.HttpTimerData">
                           </instanceof>
                        </not>
                     </and>
                     <instanceof
                           value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                     </instanceof>
                  </or>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <or>
                     <test
                           property="info.novatec.inspectit.activeSubView"
                           value="tableSubView">
                     </test>
                     <test
                           property="info.novatec.inspectit.activeSubView"
                           value="treeSubView">
                     </test>
                  </or>
                  <not>
                     <test
                           property="info.novatec.inspectit.hasSubView"
                           value="graphSubView">
                     </test>
                  </not>
               </with>
               <with
                     variable="selection">
                  <test
                        property="info.novatec.inspectit.canNavigateToPlotting">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.NavigateToStartMethodInvocationHandler"
            commandId="info.novatec.inspectit.rcp.commands.navigateToStartMethodInvocations">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.activeSubView"
                        value="tableSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.AddToSteppingObjectsHandler"
            commandId="info.novatec.inspectit.rcp.commands.addToSteppingObjects">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.inspectit.hasSubView"
                        value="steppingTreeSubView">
                  </test>
                  <or>
                     <test
                           property="info.novatec.inspectit.activeSubView"
                           value="tableSubView">
                     </test>
                     <test
                           property="info.novatec.inspectit.activeSubView"
                           value="treeSubView">
                     </test>
                  </or>
               </with>
               <iterate>
                  <and>
                     <instanceof
                           value="info.novatec.inspectit.communication.MethodSensorData">
                     </instanceof>
                     <not>
                        <instanceof
                              value="info.novatec.inspectit.communication.data.HttpTimerData">
                        </instanceof>
                     </not>
                  </and>
               </iterate>
               <with
                     variable="selection">
                  <test
                        property="info.novatec.inspectit.canAddToSteppingObjects"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.RefreshViewHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.inspectit.rcp.handlers.ShowHideColumnsHandler"
            commandId="info.novatec.inspectit.rcp.commands.showHideColumn">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.ActiveSubViewTester"
            id="info.novatec.inspectit.ActiveSubViewTester"
            namespace="info.novatec.inspectit"
            properties="activeSubView, hasSubView"
            type="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
      </propertyTester>
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.TableShowDetailsTester"
            id="info.novatec.inspectit.TableShowDetailsTester"
            namespace="info.novatec.inspectit"
            properties="tableShowDetails"
            type="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
      </propertyTester>
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.NavigateToInvocationsTester"
            id="info.novatec.inspectit.NavigateToInvocations"
            namespace="info.novatec.inspectit"
            properties="canNavigateToInvocations"
            type="org.eclipse.jface.viewers.StructuredSelection">
      </propertyTester>
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.SubViewClassificationTester"
            id="info.novatec.inspectit.SubViewClassificationTester"
            namespace="info.novatec.inspectit"
            properties="subViewClassification"
            type="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
      </propertyTester>
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.NavigateToPlottingTester"
            id="info.novatec.inspectit.NavigateToPlottingTester"
            namespace="info.novatec.inspectit"
            properties="canNavigateToPlotting"
            type="org.eclipse.jface.viewers.StructuredSelection">
      </propertyTester>
      <propertyTester
            class="info.novatec.inspectit.rcp.editor.testers.AddToSteppingObjectsTester"
            id="info.novatec.inspectit.AddToSteppingObjectsTester"
            namespace="info.novatec.inspectit"
            properties="canAddToSteppingObjects"
            type="org.eclipse.jface.viewers.StructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:inspectit.editor.formrooteditor.treesubview">
         <command
               commandId="info.novatec.inspectit.rcp.commands.details"
               style="push">
         </command>
         <menu
               label="Navigate To">
            <command
                  commandId="info.novatec.inspectit.rcp.commands.navigateToInvocations"
                  icon="icons/invocation.png"
                  style="push">
            </command>
            <command
                  commandId="info.novatec.inspectit.rcp.commands.navigateToPlotting"
                  icon="icons/timer.png"
                  style="push">
            </command>
         </menu>
         <command
               commandId="info.novatec.inspectit.rcp.commands.addToSteppingObjects"
               icon="icons/right_down.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditor">
                     <test
                           property="info.novatec.inspectit.hasSubView"
                           value="steppingTreeSubView">
                     </test>
                  </with>
                  <iterate>
                     <instanceof
                           value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                     </instanceof>
                  </iterate></and>
            </visibleWhen>
         </command>
         <separator
               name="inspectit.editor.formrooteditor.treesubview.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <separator
               name="inspectit.editor.formrooteditor.treesubview.separator2"
               visible="true">
         </separator>
         <command
               commandId="info.novatec.inspectit.rcp.commands.expandAll"
               style="push">
         </command>
         <command
               commandId="info.novatec.inspectit.rcp.commands.expandThis"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:inspectit.editor.formrooteditor.tablesubview">
         <command
               commandId="info.novatec.inspectit.rcp.commands.details"
               style="push">
         </command>
         <menu
               label="Navigate To">
            <command
                  commandId="info.novatec.inspectit.rcp.commands.navigateToInvocations"
                  icon="icons/invocation.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate>
                        <not>
                           <instanceof
                                 value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                           </instanceof>
                        </not>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="info.novatec.inspectit.rcp.commands.navigateToPlotting"
                  icon="icons/timer.png"
                  style="push">
            </command>
            <command
                  commandId="info.novatec.inspectit.rcp.commands.navigateToStartMethodInvocations"
                  icon="icons/invocation.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                        </instanceof>
                     </iterate>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="info.novatec.inspectit.rcp.editor.root.AbstractRootEditor">
                        </instanceof>
                        <test
                              property="info.novatec.inspectit.activeSubView"
                              value="tableSubView">
                        </test>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="info.novatec.inspectit.rcp.commands.addToSteppingObjects"
               icon="icons/right_down.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditor">
                     <test
                           property="info.novatec.inspectit.hasSubView"
                           value="steppingTreeSubView">
                     </test>
                  </with>
                  <iterate>
                     <instanceof
                           value="info.novatec.inspectit.communication.MethodSensorData">
                     </instanceof>
                     <not>
                        <instanceof
                              value="info.novatec.inspectit.communication.data.InvocationSequenceData">
                        </instanceof>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="inspectit.editor.formrooteditor.tablesubview.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <separator
               name="inspectit.editor.formrooteditor.tablesubview.separator2"
               visible="true">
         </separator>
         <command
               commandId="info.novatec.inspectit.rcp.commands.saveInvocations"
               style="push">
         </command>
         <command
               commandId="info.novatec.inspectit.rcp.commands.exportInvocations"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <separator
                  name="menu.file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="licenseMenu"
               label="&amp;License">
            <command
                  commandId="info.novatec.inspectit.rcp.commands.licenseInfo"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="&amp;Help">
            <command
                  commandId="info.novatec.inspectit.rcp.commands.documentation"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:inspectit.serverview.storagetree">
         <command
               commandId="org.eclipse.ui.file.import"
               style="push">
         </command>
         <separator
               name="menu.storagetree.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="info.novatec.inspectit.communication.data.ExceptionSensorData"
            class="info.novatec.inspectit.rcp.editor.tree.input.DeferredExceptionTreeAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="info.novatec.inspectit.rcp.wizard.ImportDataWizard"
            icon="icons/16x16.png"
            id="inspectit.importinvocationwizard"
            name="inspectIT Data (*.itd)">
         <description>
            Import inspectIT Data (*.itd) into your current Storage Area.
         </description>
      </wizard>
   </extension>

</plugin>
