<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/32x32_24bit.bmp"
            thread="main"
            visible="true">
         <run
               class="info.novatec.novaspy.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="info.novatec.novaspy.rcp.application"
            name="inspectIT">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="appName"
               value="inspectIT">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,10,560,20">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.png,icons/32x32.png,icons/48x48.png,icons/64x64.png,icons/128x128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="info.novatec.novaspy.rcp.preferences.NovaSpyPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="info.novatec.novaspy.communication.data.InvocationSequenceData"
            class="info.novatec.novaspy.rcp.editor.tree.input.DeferredInvocAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="info.novatec.novaspy.rcp.Perspective"
            fixed="true"
            id="novaspy.perspective"
            name="NovaSpy Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Server View"
            icon="icons/sample.gif"
            class="info.novatec.novaspy.rcp.view.server.ServerView"
            id="novaspy.serverview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.novatec.novaspy.rcp.editor.root.FormRootEditor"
            default="false"
            id="novaspy.editor.formrooteditor"
            name="Form Root Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.novatec.novaspy.rcp.actionSet"
            label="Repository Action Set"
            visible="true">
         <action
               class="info.novatec.novaspy.rcp.action.UpdateRepositoryAction"
               icon="icons/server_refresh.png"
               id="de.novatec.novaspy.rcp.action.UpdateRepositoryAction"
               label="&amp;Refresh Repository"
               toolbarPath="repository"
               tooltip="Refresh Repository">
         </action>
         <action
               class="info.novatec.novaspy.rcp.action.RemoveRepositoryAction"
               icon="icons/server_remove.png"
               id="e.novatec.novaspy.rcp.action.RemoveRepositoryAction"
               label="&amp;Delete Repository Definition"
               toolbarPath="repository"
               tooltip="Delete Repository Definition">
         </action>
         <action
               class="info.novatec.novaspy.rcp.action.CreateRepositoryAction"
               icon="icons/server_add.png"
               id="de.novatec.novaspy.rcp.action.CreateRepositoryAction"
               label="&amp;Add Repository Definition"
               toolbarPath="repository"
               tooltip="Add Repository Definition">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="info.novatec.novaspy.rcp.wizard.NewRepositoryDefinitionWizard"
            icon="icons/server_add.png"
            id="novaspy.repositorywizard"
            name="New Repository Definition">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="info.novatec.novaspy.rcp.commands.openView"
            name="Open View">
      </command>
      <command
            id="info.novatec.novaspy.rcp.commands.expandAll"
            name="Expand All">
      </command>
      <command
            id="info.novatec.novaspy.rcp.commands.expandThis"
            name="Expand This">
      </command>
      <command
            defaultHandler="info.novatec.novaspy.rcp.handlers.ImportLicenseHandler"
            id="info.novatec.novaspy.rcp.commands.importLicense"
            name="Import License">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="info.novatec.novaspy.rcp.handlers.OpenViewHandler"
            commandId="info.novatec.novaspy.rcp.commands.openView">
      </handler>
      <handler
            class="info.novatec.novaspy.rcp.handlers.TreeCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.novaspy.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.novaspy.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.novaspy.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.novaspy.rcp.handlers.TableCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate>
                  <instanceof
                        value="info.novatec.novaspy.communication.DefaultData">
                  </instanceof>
               </iterate>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.novaspy.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.novaspy.activeSubView"
                        value="tableSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.novaspy.rcp.handlers.TreeExpandAllHandler"
            commandId="info.novatec.novaspy.rcp.commands.expandAll">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.novaspy.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.novaspy.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="info.novatec.novaspy.rcp.handlers.TreeExpandThisHandler"
            commandId="info.novatec.novaspy.rcp.commands.expandThis">
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="info.novatec.novaspy.rcp.editor.root.AbstractRootEditor">
                  </instanceof>
                  <test
                        property="info.novatec.novaspy.activeSubView"
                        value="treeSubView">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="info.novatec.novaspy.rcp.editor.testers.ActiveSubViewTester"
            id="info.novatec.novaspy.ActiveSubViewTester"
            namespace="info.novatec.novaspy"
            properties="activeSubView"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:novaspy.editor.formrooteditor.treesubview">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <separator
               name="novaspy.editor.formrooteditor.treesubview.separator1"
               visible="true">
         </separator>
         <command
               commandId="info.novatec.novaspy.rcp.commands.expandAll"
               style="push">
         </command>
         <command
               commandId="info.novatec.novaspy.rcp.commands.expandThis"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:novaspy.editor.formrooteditor.tablesubview">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=File">
         <menu
               id="licenseMenu"
               label="License">
            <command
                  commandId="info.novatec.novaspy.rcp.commands.importLicense"
                  label="Import License"
                  style="push"
                  tooltip="Imports the License into the Server">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="info.novatec.novaspy.communication.data.ExceptionSensorData"
            class="info.novatec.novaspy.rcp.editor.exception.DeferredExceptionTreeAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
