<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="CMRTest">
	<test name="Cache">
		<classes>
			<class name="info.novatec.inspectit.cmr.cache.impl.BufferPropertiesTest" />
			<class name="info.novatec.inspectit.cmr.cache.impl.ObjectSizesPrimitiveTypesSizeTest" />
		</classes>
	</test>
	<test name="IndexingRestriction">
		<classes>
			<class name="info.novatec.inspectit.cmr.cache.indexing.restriction.impl.IndexQueryRestrictionProcessorTest" />
		</classes>
	</test>
	<test name="Indexing">
		<classes>
			<class name="info.novatec.inspectit.cmr.cache.indexing.impl.IndexingTest" />
		</classes>
	</test>
	<!-- test name="Configuration Interface">
		<classes>
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.EnvironmentDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.ExceptionSensorDefinitionDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.MethodSensorDefinitionDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.PlatformSensorDefinitionDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.ProfileDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.SensorTypeDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.ci.impl.LazyInitializationTest" />
		</classes>
	</test-->
	<test name="Dao">
		<classes>
			<class name="info.novatec.inspectit.cmr.dao.impl.BufferHttpTimerDataDaoTest" />
			<class name="info.novatec.inspectit.cmr.dao.impl.TimerDataAggregatorTest" />
		</classes>
	</test>
	<test name="Service">
		<classes>
			<class name="info.novatec.inspectit.cmr.service.RegistrationServiceTest" />
			<class name="info.novatec.inspectit.cmr.service.AgentStorageServiceTest" />
		</classes>
	</test>
	<test name="Util">
		<classes>
			<class name="info.novatec.inspectit.cmr.util.PlatformIdentCacheTest" />
		</classes>
	</test>
	<test name="Data">
		<classes>
			<class name="info.novatec.inspectit.communication.data.InvocationAwareDataTest" />
		</classes>
	</test>
	<test name="EqualsVerifier">
		<classes>
			<class name="info.novatec.inspectit.communication.EqualsVerifierTest" />
		</classes>
	</test>
</suite>