<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="autodetect">
	
	<bean id="defaultDataDao" class="info.novatec.inspectit.cmr.dao.impl.DefaultDataDaoImpl" >
		<property name="saveTimerDataToDatabase" value="${cmr.saveTimerDataToDatabase}" />
	</bean>
	
	<bean id="timerDataAggregatorTest"  class="info.novatec.inspectit.cmr.dao.impl.TimerDataAggregator">
		<property name="maxElements" value="200"/>
		<property name="aggregationPeriod" value="10000"/>
		<property name="cacheCleanSleepingPeriod" value="6"/>
	</bean>

</beans>
