<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="indexQueryProvider" class="rocks.inspectit.shared.cs.indexing.query.provider.impl.IndexQueryProvider">
		<lookup-method name="createNewIndexQuery" bean="indexQuery" />
	</bean>

	<bean id="storageIndexQueryProvider" class="rocks.inspectit.shared.cs.indexing.query.provider.impl.StorageIndexQueryProvider">
		<lookup-method name="createNewStorageIndexQuery" bean="storageIndexQuery" />
	</bean>
	
	<bean id="streamProvider" class="rocks.inspectit.shared.all.storage.nio.stream.StreamProvider">
		<lookup-method name="createExtendedByteBufferOutputStream" bean="extendedByteBufferOutputStream" />
		<lookup-method name="createSocketExtendedByteBufferInputStream" bean="socketExtendedByteBufferInputStream" />
	</bean>
	
	<bean id="inputStreamProvider" class="rocks.inspectit.shared.cs.storage.nio.stream.InputStreamProvider">
		<lookup-method name="createExtendedByteBufferInputStream" bean="extendedByteBufferInputStream" />
	</bean>

	<bean id="serializationManagerProvider" class="rocks.inspectit.shared.all.storage.serializer.provider.SerializationManagerProvider">
		<lookup-method name="createSerializer" bean="serializationManager" />
	</bean>

	<bean id="storageWriterProvider" class="rocks.inspectit.server.storage.CmrStorageWriterProvider">
		<lookup-method name="getCmrStorageWriter" bean="cmrStorageWriter" />
	</bean>

	<bean id="storageIndexingTreeProvider" class="rocks.inspectit.shared.cs.storage.util.StorageIndexTreeProvider">
		<lookup-method name="getStorageIndexingTree" bean="storageRootBranchFactory" />
	</bean>

	<bean id="IOExecutorService" class="rocks.inspectit.shared.cs.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="io-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="${storage.ioExecutorThreads}" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="storageExecutorService" class="rocks.inspectit.shared.cs.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="storage-executor-service" />
		<property name="daemon" value="false" />
		<property name="executorThreads" value="${storage.storageExecutorThreads}" />
		<property name="scheduledExecutor" value="true" />
	</bean>

	<bean id="scheduledExecutorService" class="rocks.inspectit.shared.cs.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="scheduled-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="5" />
		<property name="scheduledExecutor" value="true" />
		<property name="beanSingleton" value="true" />
	</bean>
	
	<bean id="socketReadExecutorService" class="rocks.inspectit.shared.cs.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="socket-read-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="2" />
		<property name="scheduledExecutor" value="false" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="kryoNetObjectSpaceExecutorService" class="rocks.inspectit.shared.cs.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="kryo-net-object-space-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="3" />
		<property name="scheduledExecutor" value="false" />
		<property name="beanSingleton" value="true" />
	</bean>
	
	<bean id="forkJoinWorkerThreadFactory" class="rocks.inspectit.shared.cs.indexing.util.ForkJoinPoolWorkerThreadFactoryFactory">
		<property name="threadNamePrefix" value="indexingTreeForkJoinThread" />
	</bean>
	
	<bean id="indexingTreeForkJoinPool" class="org.springframework.scheduling.concurrent.ForkJoinPoolFactoryBean">
		<property name="threadFactory" ref="forkJoinWorkerThreadFactory" />
		<property name="uncaughtExceptionHandler" ref="forkJoinPoolExceptionHandler" />
	</bean>
	
	<!-- Alerting -->

	<bean name="grafanaDashboardInjector" class="rocks.inspectit.server.anomaly.GrafanaDashboardInjector" />
	
	<bean name="gitterAlertingAdapter" class="rocks.inspectit.server.alearting.adapter.impl.GitterAlertingAdapter"/>
	<bean name="emailAlertingAdapter" class="rocks.inspectit.server.alearting.adapter.impl.EmailAlertingAdapter"/>
	
	<bean name="alertingAdapterFactory" class="rocks.inspectit.server.alearting.AlertingAdapterFactory">
	    <lookup-method bean="gitterAlertingAdapter" name="getGitterAdapter" />
	    <lookup-method bean="emailAlertingAdapter" name="getEmailAdapter" />
	</bean>

	<!-- Stream Components -->
	<bean name="sharedStreamProperties" class="rocks.inspectit.server.anomaly.stream.SharedStreamProperties" />
	
	<bean name="businessTransactionInjectorComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.BusinessTransactionContextInjectorComponent" scope="prototype"/>
	<bean name="quadraticScoreFilterComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.QuadraticScoreFilterComponent" scope="prototype"/>
	<bean name="businessTransactionAlertingComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.BusinessTransactionAlertingComponent" scope="prototype"/>
	<bean name="percentageRateComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.PercentageRateComponent" scope="prototype"/>
	<bean name="tsdbWriterComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.TSDBWriterComponent" scope="prototype"/>
	<bean name="standardDeviationComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.StandardDeviationComponent" scope="prototype"/>
	<bean name="rHoltWintersComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.RHoltWintersComponent" scope="prototype"/>
	<bean name="confidenceBandComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.ConfidenceBandComponent" scope="prototype"/>
	<bean name="forecastComponent" class="rocks.inspectit.server.anomaly.stream.component.impl.ForecastComponent" scope="prototype"/>
	
	<bean name="streamComponentFactory" class="rocks.inspectit.server.anomaly.stream.StreamComponentFactory">
	    <lookup-method bean="businessTransactionInjectorComponent" name="createBusinessTransactionInjector" />
	    <lookup-method bean="quadraticScoreFilterComponent" name="createQuadraticScoreFilter" />
	    <lookup-method bean="businessTransactionAlertingComponent" name="createBusinessTransactionAlerting" />
	    <lookup-method bean="percentageRateComponent" name="createPercentageRate" />
	    <lookup-method bean="tsdbWriterComponent" name="createTSDBWriter" />
	    <lookup-method bean="standardDeviationComponent" name="createStandardDeviation" />
	    <lookup-method bean="rHoltWintersComponent" name="createRHoltWinters" />
	    <lookup-method bean="confidenceBandComponent" name="createConfidenceBand" />
	    <lookup-method bean="forecastComponent" name="createForecastComponent" />
	</bean>	
	
	<!-- Forecasting -->
	<bean name="holtWintersForecast" class="rocks.inspectit.server.anomaly.forecast.HoltWintersForecast" scope="prototype"/>
	<bean name="doubleExponentialSmoothing" class="rocks.inspectit.server.anomaly.forecast.DoubleExponentialSmoothing" scope="prototype"/>

	<bean name="forecastFactory" class="rocks.inspectit.server.anomaly.forecast.ForecastFactory">
	    <lookup-method bean="holtWintersForecast" name="createHoltWinters" />
	    <lookup-method bean="doubleExponentialSmoothing" name="createDoubleExponentialSmoothing" />
	</bean>	
	
</beans>