<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="dummyAnalyzeProcessor" class="rocks.inspectit.server.anomaly.processor.analyzer.impl.DummyAnalyzeProcessor" />
	<bean id="dummyBaselineProcessor" class="rocks.inspectit.server.anomaly.processor.baseline.impl.DummyBaselineProcessor" />
	<bean id="dummyClassifyProcessor" class="rocks.inspectit.server.anomaly.processor.classifier.impl.DummyClassifyProcessor" />


</beans>